# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
# As such this is intended to only cover items in the wp-content folder.
#
# Solution: this is intended to only cover items in the wp-content folder
# and so should appear at the root of the wp-content folder.
#
# See the comments below for more info on how to add exceptions for your
# content.



# ignore everything in the wp-content folder to start
/*


# don't ignore the following specific files/folders
!.gitignore


# don't ignore the plugins directories
!plugins/
!mu-plugins/


# Ignore everything in the "themes" directory, except our custom theme
!themes/neudev/
plugins/wordfence/js/wfpopover.1536768948.js
plugins/wordfence/js/wfselect2.min.1536768948.js
plugins/wordfence/lib/menu_tools_importExport.php
plugins/wordfence/views/common/license.php
plugins/wordpress-seo/admin/class-admin-asset-analysis-worker-location.php
plugins/wordpress-seo/css/dist/admin-global-830-rtl.min.css
plugins/wordpress-seo/css/dist/admin-global-830.min.css
plugins/wordpress-seo/css/dist/adminbar-830-rtl.min.css
plugins/wordpress-seo/css/dist/adminbar-830.min.css
plugins/wordpress-seo/css/dist/alerts-830-rtl.min.css
plugins/wordpress-seo/css/dist/alerts-830.min.css
plugins/wordpress-seo/css/dist/dashboard-830-rtl.min.css
plugins/wordpress-seo/css/dist/dashboard-830.min.css
plugins/wordpress-seo/css/dist/edit-page-830-rtl.min.css
plugins/wordpress-seo/css/dist/edit-page-830.min.css
plugins/wordpress-seo/css/dist/featured-image-830-rtl.min.css
plugins/wordpress-seo/css/dist/featured-image-830.min.css
plugins/wordpress-seo/css/dist/filter-explanation-830-rtl.min.css
plugins/wordpress-seo/css/dist/filter-explanation-830.min.css
plugins/wordpress-seo/css/dist/inside-editor-830-rtl.min.css
plugins/wordpress-seo/css/dist/inside-editor-830.min.css
plugins/wordpress-seo/css/dist/metabox-830-rtl.min.css
plugins/wordpress-seo/css/dist/metabox-830.min.css
plugins/wordpress-seo/css/dist/metabox-primary-category-830-rtl.min.css
plugins/wordpress-seo/css/dist/metabox-primary-category-830.min.css
plugins/wordpress-seo/css/dist/search-appearance-830-rtl.min.css
plugins/wordpress-seo/css/dist/search-appearance-830.min.css
plugins/wordpress-seo/css/dist/structured-data-blocks-830-rtl.min.css
plugins/wordpress-seo/css/dist/structured-data-blocks-830.min.css
plugins/wordpress-seo/css/dist/toggle-switch-830-rtl.min.css
plugins/wordpress-seo/css/dist/toggle-switch-830.min.css
plugins/wordpress-seo/css/dist/wpseo-dismissible-830-rtl.min.css
plugins/wordpress-seo/css/dist/wpseo-dismissible-830.min.css
plugins/wordpress-seo/css/dist/yoast-components-830-rtl.min.css
plugins/wordpress-seo/css/dist/yoast-components-830.min.css
plugins/wordpress-seo/css/dist/yoast-extensions-830-rtl.min.css
plugins/wordpress-seo/css/dist/yoast-extensions-830.min.css
plugins/wordpress-seo/css/dist/yst_plugin_tools-830-rtl.min.css
plugins/wordpress-seo/css/dist/yst_plugin_tools-830.min.css
plugins/wordpress-seo/css/dist/yst_seo_score-830-rtl.min.css
plugins/wordpress-seo/css/dist/yst_seo_score-830.min.css
plugins/wordpress-seo/inc/class-structured-data-blocks.php
plugins/wordpress-seo/inc/structured-data-blocks/class-faq-block.php
plugins/wordpress-seo/inc/structured-data-blocks/class-how-to-block.php
plugins/wordpress-seo/js/dist/analysis-830.min.js
plugins/wordpress-seo/js/dist/babel-polyfill-830.min.js
plugins/wordpress-seo/js/dist/commons-830.min.js
plugins/wordpress-seo/js/dist/components-830.min.js
plugins/wordpress-seo/js/dist/configuration-wizard-830.min.js
plugins/wordpress-seo/js/dist/search-appearance-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-global-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-gsc-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-media-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-analysis-worker-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-api-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-bulk-editor-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-dashboard-widget-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-edit-page-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-featured-image-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-filter-explanation-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-help-center-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-metabox-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-metabox-category-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-modal-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-network-admin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-post-scraper-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-quick-edit-handler-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-recalculate-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-reindex-links-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-replacevar-plugin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-shortcode-plugin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-structured-data-blocks-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-term-scraper-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-used-keywords-assessment-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-wp-globals-backport-830.min.js
plugins/wordpress-seo/js/vendor/lodash-noconflict.js
plugins/wordpress-seo/languages/wordpress-seo-en_ZA.json
plugins/wordpress-seo/languages/wordpress-seo-uk.json
plugins/wordpress-seo/languages/wordpress-seojs-en_ZA.json
plugins/wordpress-seo/languages/wordpress-seojs-uk.json
plugins/wordpress-seo/languages/yoast-components-en_ZA.json
plugins/wordpress-seo/languages/yoast-components-uk.json
plugins/wp-cerber/assets/icons/style.css
plugins/wp-cerber/assets/icons/fonts/crb.svg
plugins/wp-cerber/assets/icons/fonts/crb.ttf
plugins/wp-cerber/assets/icons/fonts/crb.woff
plugins/advanced-custom-fields-pro/assets/css/acf-dark.css
plugins/advanced-custom-fields-pro/assets/images/acf-logo.png
plugins/advanced-custom-fields-pro/includes/assets.php
plugins/advanced-custom-fields-pro/includes/form.php
plugins/advanced-custom-fields-pro/includes/third-party.php
plugins/advanced-custom-fields-pro/includes/upgrades.php
plugins/advanced-custom-fields-pro/includes/admin/admin-upgrade.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-admin-page-upgrade-network.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-admin-page-upgrade.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-notice-upgrade.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-check-screen.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-query-terms.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-query.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-upgrade.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-user-setting.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax.php
plugins/advanced-custom-fields-pro/includes/api/api-term.php
plugins/advanced-custom-fields-pro/includes/forms/form-gutenberg.php
plugins/advanced-custom-fields-pro/lang/acf-hr_HR.mo
plugins/advanced-custom-fields-pro/lang/acf-hr_HR.po
plugins/duplicator/assets/css/parsley.css
plugins/duplicator/assets/js/parsley.min.js
plugins/duplicator/classes/class.crypt.php
plugins/duplicator/classes/class.password.php
plugins/duplicator/installer/build/view.init1.php
plugins/duplicator/installer/build/classes/class.http.php
plugins/duplicator/installer/build/classes/class.password.php
plugins/wordfence/css/activity-report-widget.1536768948.css
plugins/wordfence/css/diff.1536768948.css
plugins/wordfence/css/dt_table.1536768948.css
plugins/wordfence/css/fullLog.1536768948.css
plugins/wordfence/css/iptraf.1536768948.css
plugins/wordfence/css/jquery-ui-timepicker-addon.1536768948.css
plugins/wordfence/css/jquery-ui.min.1536768948.css
plugins/wordfence/css/jquery-ui.structure.min.1536768948.css
plugins/wordfence/css/jquery-ui.theme.min.1536768948.css
plugins/wordfence/css/main.1536768948.css
plugins/wordfence/css/phpinfo.1536768948.css
plugins/wordfence/css/wf-adminbar.1536768948.css
plugins/wordfence/css/wf-colorbox.1536768948.css
plugins/wordfence/css/wf-font-awesome.1536768948.css
plugins/wordfence/css/wf-ionicons.1536768948.css
plugins/wordfence/css/wf-onboarding.1536768948.css
plugins/wordfence/css/wf-roboto-font.1536768948.css
plugins/wordfence/css/wfselect2.min.1536768948.css
plugins/wordfence/css/wordfenceBox.1536768948.css
plugins/wordfence/images/wf-horizontal.svg
plugins/wordfence/js/admin.1536768948.js
plugins/wordfence/js/admin.ajaxWatcher.1536768948.js
plugins/wordfence/js/admin.liveTraffic.1536768948.js
plugins/wordfence/js/Chart.bundle.min.1536768948.js
plugins/wordfence/js/date.1536768948.js
plugins/wordfence/js/jquery-ui-timepicker-addon.1536768948.js
plugins/wordfence/js/jquery.colorbox-min.1536768948.js
plugins/wordfence/js/jquery.colorbox.1536768948.js
plugins/wordfence/js/jquery.dataTables.min.1536768948.js
plugins/wordfence/js/jquery.qrcode.min.1536768948.js
plugins/wordfence/js/jquery.tmpl.min.1536768948.js
plugins/wordfence/js/jquery.tools.min.1536768948.js
plugins/wordfence/js/knockout-3.3.0.1536768948.js
plugins/wordfence/js/perf.1536768948.js
plugins/wordfence/js/wfdashboard.1536768948.js
plugins/wordfence/js/wfdropdown.1536768948.js
plugins/wordfence/js/wfglobal.1536768948.js
