.nua__wrapper {

  & > main {

    & > section {
      max-width:50vw;
      width:100%;
      margin:0 auto;
      & > p {
        @include font-2l-l;
        margin: 0 0 $gutter 0;
      }
      & > div {

        & > h2 {
          //@include font-5b-c;
          @include font-6l-c;
          margin: 0 0 ($gutter / 2) 0;
        }
        & > p {
          @include font-2l-l;
          margin: 0 0 $gutter 0;
        }
        & > ul {
          margin: $gutter 0 0 0;
          & > li {
            @include font-2l-l;
            margin: 0 0 ($gutter / 2) 0;
            list-style-type: none;
            & > a {
              color:$brand_colors-black;
              text-decoration: none;
              border-bottom:1px solid $brand_colors-red;
              &:hover {
                text-decoration: none;
                color: $brand_colors-red;
              }
              & > span {
                font-weight:700;
              }
            }
          }
        }
      }
    }
    & > section.intro {
      & > button {
        // border: 1px solid $brand_colors-black;
        // margin: 0 0 ($gutter *2) 0;
        // min-width: 250px;
        // display: block;
        // color: $brand_colors-black ;
        // @include font-2l-c;
        // font-weight: 400;
        // padding: 0;
        // line-height: 44px;
        // height:44px;
        // text-transform: uppercase;
        // background: none;
        //float: left;
        width: auto;
        border: none;
        background: $brand_colors-red;
        @include font-2r-l;
        margin: 0 0 ($gutter *2) 0;
        text-transform: uppercase;
        padding: 5px ($gutter *2) 5px ($gutter *2);
        color: $brand_colors-white;
        letter-spacing: 0px;
        &:hover {
          background: $brand_colors-black;
        }
      }
      & > h1 {
        margin: 0 0 $gutter 0;
      }
    }
    & > section.last {
      & > a {
        color:$brand_colors-black;
        text-decoration: none;
        border-bottom:1px solid $brand_colors-red;
        @include font-2l-l;
        &:hover {
          text-decoration: none;
          color: $brand_colors-red;
        }
      }
    }
  }
}

@media only screen and (max-width: 959px) {
  .nua__wrapper {

    & > main {

      & > section {
        max-width:96vw;
        width:100%;
        margin:0 auto;
        & > p {
          @include font-2l-l;
          margin: 0 0 $gutter 0;
        }
        & > div {

          & > h2 {
            //@include font-5b-c;
            @include font-6l-c;
            margin: 0 0 ($gutter / 2) 0;
          }
          & > p {
            @include font-2l-l;
            margin: 0 0 $gutter 0;
          }
          & > ul {
            margin: $gutter 0 0 0;
            & > li {
              @include font-2l-l;
              margin: 0 0 ($gutter / 2) 0;
              list-style-type: none;
              & > a {
                color:$brand_colors-black;
                text-decoration: none;
                border-bottom:1px solid $brand_colors-red;
                &:hover {
                  text-decoration: none;
                  color: $brand_colors-red;
                }
                & > span {
                  font-weight:700;
                }
              }
            }
          }
        }
      }
      & > section.intro {
        & > button {
           border: 1px solid $brand_colors-black;
          margin: 0 0 ($gutter *2) 0;
          min-width: 250px;
          display: block;
          color: $brand_colors-white ;
          background:rgba(197, 0, 3, 1.0);
          @include font-2l-c;
          font-weight: 400;
          padding: 0;
          line-height: 44px;
          height:44px;
          text-transform: uppercase;
          background: none;
          &:hover {
            background: $brand_colors-black;
          }
        }
        & > h1 {
          margin: 0 0 $gutter 0;
        }
      }
      & > section.last {
        & > a {
          color:$brand_colors-black;
          text-decoration: none;
          border-bottom:1px solid $brand_colors-red;
          @include font-2l-l;
          &:hover {
            text-decoration: none;
            color: $brand_colors-red;
          }
        }
      }
    }
  }

}
