/**
 * partials/footer
 * ---
 */


footer {
  -moz-box-flex: 0;
  background: #5a5a5a none repeat scroll 0 0;
  //flex: 0 0 auto;
  font-size: 1rem;
  letter-spacing: 0.03em;
  padding: 20px 0;
  position: relative;
  width: 100%;
  margin: auto auto 0 auto;
  & .wrapper {
    & a {
      float: left;
      //margin-right: 20px;
      & svg {
        height: 25px;
        & path {
          fill: $white;
        }
      }
    }
    & div {
      color: $white;
      height: auto;
      line-height: 1.4em;
      margin: 0;
      padding: 0;
      float:right;
      & > ul {
        float:right;
        font-size: 1.2em;
        list-style-type: none;
        margin: 0 0 10px;
        padding: 0;
        & li {
          display:inline-block;
          margin-left:20px;

          & a {
            color: $white;
            &:hover {
              text-decoration:none;
            }
          }
        }
      }
      & p {
        margin-left:20px;
        & a {
          color: $white;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
  }
}
